In [28]:
from main import runGame
import pandas as pd

In [29]:
runGame(['main.py', '-l', 'level2.txt', '-m', 'astar', '-H', 'manhattan'])

I won the game

{'success': True,
 'method': 'astar',
 'level': 'level2.txt',
 'heuristic': 'manhattan',
 'cost': 78,
 'exloredNodes': 58629,
 'frontierNodes': 97,
 'runtime': 5.143670082092285}

In [30]:

methods = ['dfs', 'bfs', 'greedy', 'astar']
heuristics = ['manhattan', 'combined']
levels = ['level1.txt', 'level2.txt', 'level3.txt', 'level4.txt', 'level5.txt']

aux = []

for level in levels:
    for method in methods:
        for heuristic in heuristics:
            for _ in range(10):
                aux.append(runGame(['main.py', '-l', level, '-m', method, '-H', heuristic]))

df = pd.DataFrame(aux)
df

I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game
I won the game

,success,method,level,heuristic,cost,exloredNodes,frontierNodes,runtime
0,True,dfs,level1.txt,manhattan,3,22,1,0.000997
1,True,dfs,level1.txt,manhattan,3,22,1,0.000000
2,True,dfs,level1.txt,manhattan,3,22,1,0.000000
3,True,dfs,level1.txt,manhattan,3,22,1,0.000000
4,True,dfs,level1.txt,manhattan,3,22,1,0.001022
...,...,...,...,...,...,...,...,...
395,False,astar,level5.txt,combined,0,17,0,0.000000
396,False,astar,level5.txt,combined,0,17,0,0.000000
397,False,astar,level5.txt,combined,0,17,0,0.000000
398,False,astar,level5.txt,combined,0,17,0,0.000995
399,False,astar,level5.txt,combined,0,17,0,0.000000

In [31]:
df.to_csv('data.csv')

In [41]:
df.groupby(['level','method','heuristic']).mean()

                             success    cost  exloredNodes  frontierNodes  \
level      method heuristic
level1.txt astar  combined       1.0     3.0           7.0            1.0
                  manhattan      1.0     3.0           7.0            1.0
           bfs    combined       1.0     3.0           7.0            1.0
                  manhattan      1.0     3.0           7.0            1.0
           dfs    combined       1.0     3.0          22.0            1.0
                  manhattan      1.0     3.0          22.0            1.0
           greedy combined       1.0     3.0           6.0            1.0
                  manhattan      1.0     3.0           6.0            1.0
level2.txt astar  combined       1.0    78.0       58387.0          137.0
                  manhattan      1.0    78.0       58629.0           97.0
           bfs    combined       1.0    78.0       58804.0           54.0
                  manhattan      1.0    78.0       58804.0           54.0
           dfs    combined       1.0  1698.0       19064.0          706.0
                  manhattan      1.0  1698.0       19064.0          706.0
           greedy combined       1.0   104.0        1765.0          131.0
                  manhattan      1.0   104.0        1763.0          133.0
level3.txt astar  combined       1.0    10.0          77.0           21.0
                  manhattan      1.0    10.0          77.0           21.0
           bfs    combined       1.0    10.0         136.0           43.0
                  manhattan      1.0    10.0         136.0           43.0
           dfs    combined       1.0    14.0         102.0            9.0
                  manhattan      1.0    14.0         102.0            9.0
           greedy combined       1.0    10.0          30.0            8.0
                  manhattan      1.0    10.0          30.0            8.0
level4.txt astar  combined       1.0    60.0       86402.0         3884.0
                  manhattan      1.0    60.0       96954.0         3356.0
           bfs    combined       1.0    60.0      112694.0         1732.0
                  manhattan      1.0    60.0      112694.0         1732.0
           dfs    combined       1.0  2912.0      106160.0         1409.0
                  manhattan      1.0  2912.0      106160.0         1409.0
           greedy combined       1.0    74.0         806.0           85.0
                  manhattan      1.0    64.0        1071.0          138.0
level5.txt astar  combined       0.0     0.0          17.0            0.0
                  manhattan      0.0     0.0          17.0            0.0
           bfs    combined       0.0     0.0          17.0            0.0
                  manhattan      0.0     0.0          17.0            0.0
           dfs    combined       0.0     0.0          17.0            0.0
                  manhattan      0.0     0.0          17.0            0.0
           greedy combined       0.0     0.0          17.0            0.0
                  manhattan      0.0     0.0          17.0            0.0

                               runtime
level      method heuristic
level1.txt astar  combined    0.000100
                  manhattan   0.000351
           bfs    combined    0.000109
                  manhattan   0.000106
           dfs    combined    0.000311
                  manhattan   0.000322
           greedy combined    0.000100
                  manhattan   0.000000
level2.txt astar  combined    5.682484
                  manhattan   5.194522
           bfs    combined    0.748800
                  manhattan   0.749533
           dfs    combined    0.214663
                  manhattan   0.223666
           greedy combined    0.041869
                  manhattan   0.036811
level3.txt astar  combined    0.001364
                  manhattan   0.000769
           bfs    combined    0.000680
                  manhattan   0.001001
           dfs    combined    0.000670
                  manhattan   0.016096
           greedy combined    0.000694
                  manhattan   0.000451
level4.txt astar  combined   20.212179
                  manhattan  21.347020
           bfs    combined    1.505690
                  manhattan   1.494522
           dfs    combined    1.354815
                  manhattan   1.321750
           greedy combined    0.012554
                  manhattan   0.012847
level5.txt astar  combined    0.000100
                  manhattan   0.000400
           bfs    combined    0.000100
                  manhattan   0.000000
           dfs    combined    0.000000
                  manhattan   0.000100
           greedy combined    0.000200
                  manhattan   0.000200

In [36]:
df.groupby(['level']).mean()

C:\Users\juana\AppData\Local\Temp\ipykernel_9828\3629103509.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['level']).mean()

            success    cost  exloredNodes  frontierNodes   runtime
level
level1.txt      1.0    3.00        10.500          1.000  0.000175
level2.txt      1.0  489.50     34535.000        252.250  1.611544
level3.txt      1.0   11.00        86.250         20.250  0.002716
level4.txt      1.0  775.25     77867.625       1718.125  5.907672
level5.txt      0.0    0.00        17.000          0.000  0.000137

In [39]:
df.groupby(['method']).mean()

C:\Users\juana\AppData\Local\Temp\ipykernel_9828\3790596746.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['method']).mean()

        success   cost  exloredNodes  frontierNodes   runtime
method
astar       0.8   30.2       30057.4          751.8  5.243929
bfs         0.8   30.2       34331.6          366.0  0.450054
dfs         0.8  925.4       25073.0          425.0  0.313239
greedy      0.8   37.2         551.1           50.5  0.010573

In [40]:
df.groupby(['heuristic']).mean()

C:\Users\juana\AppData\Local\Temp\ipykernel_9828\1296701747.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['heuristic']).mean()

           success   cost  exloredNodes  frontierNodes   runtime
heuristic
combined       0.8  256.0      22226.85         411.15  1.488874
manhattan      0.8  255.5      22779.70         385.50  1.520023

In [42]:
df.groupby(['method','heuristic']).mean()

C:\Users\juana\AppData\Local\Temp\ipykernel_9828\1420451088.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['method','heuristic']).mean()

                  success   cost  exloredNodes  frontierNodes   runtime
method heuristic
astar  combined       0.8   30.2       28978.0          808.6  5.179246
       manhattan      0.8   30.2       31136.8          695.0  5.308613
bfs    combined       0.8   30.2       34331.6          366.0  0.451076
       manhattan      0.8   30.2       34331.6          366.0  0.449032
dfs    combined       0.8  925.4       25073.0          425.0  0.314092
       manhattan      0.8  925.4       25073.0          425.0  0.312387
greedy combined       0.8   38.2         524.8           45.0  0.011084
       manhattan      0.8   36.2         577.4           56.0  0.010062